{{ define "main" }}
    <main class="concert">
        <div class="primary-bg wide margin">
            <div class="padding">
                <h1>
                    {{ .Title }}
                </h1>
                {{ .Content }}
            </div>
        </div>
        <h2>Information</h2>
        <div class="row">
            <div>
                <div class="row">
                    <div>
                        <h4>Dirigent</h4>
                        <p>{{ .Params.conductor }}</p>
                        <h4>Adress</h4>
                        <p>{{ .Params.location }}</p>
                    </div>
                    <div>
                        <h4>Datum</h4>
                        <p>{{ dateFormat "2006-01-02" .Params.concertStart }}</p>
                        <h4>Tid</h4>
                        <p>{{ dateFormat "15:04" .Params.concertStart }}</p>
                    </div>
                </div>
                <img class="map" src="https://amp.businessinsider.com/images/524f00bceab8ea692b8b1682-750-562.jpg">
            </div>
            <img src=" {{.Params.image}}">
        </div>
    </main>
{{ end }}