{{ define "main" }}
    <main class="concert">
        <div class="primary-bg wide margin">
            <div class="padding">
                <h1>
                    {{ .Title }}
                </h1>
                {{ .Content }}
            </div>
        </div>
        <h2>Information</h2>
        <div class="row">
            <div>
                <div class="row">
                    <div>
                        <h4>Dirigent</h4>
                        <p>{{ .Params.conductor }}</p>
                        <h4>Adress</h4>
                        <p>{{ .Params.location }}</p>
                    </div>
                    <div>
                        <h4>Datum</h4>
                        <p>{{ if .Params.concertDate }}{{ dateFormat "2006-01-02" .Params.concertDate }}{{end}}</p>
                        <h4>Tid</h4>
                        <p>{{ if .Params.concertDate }}{{ dateFormat "15:04" .Params.concertDate }}{{ end }}</p>
                    </div>
                </div>
                <iframe src="{{ .Params.mapsLink }}" width="450" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <img src=" {{.Params.image}}">
        </div>
    </main>
{{ end }}