{{ define "main" }}
<main>
    <div id="index">
        <h1>{{.Title}}</h1>
        <hr>
        <h2>{{.Params.tagline}}</h2>
    </div>
    <div class="ruler-title">
        <h2>KOMMANDE KONSERTER</h2>
        <hr>
        <h3><a href='/concerts'>Alla konserter</a></h3>
    </div>
    <div class="concerts">
        {{ range sort (where (where .Pages "Section" "concerts") "Params.featured" true) "Params.concertDate"}}
        <div>
            {{ .Render "summary"}}
        </div>
        {{ end }}
    </div>
    <div class="ruler-title">
        <h2>NYHETER</h2>
        <hr>
        <h3><a href='/blog'>Alla nyheter</a></h3>
    </div>
    <div class="articles">
        {{ range last 4 (where .Pages "Section" "blog")}}
        <div>
            {{ .Render "summary"}}
        </div>
        {{ end }}
    </div>
</main>
{{ end }}