$sans: "Raleway", sans-serif;
$serif: "Cormorant Garamond", serif;

$primary: #b57a46;
$primary-transparent: rgba(190,135,86,0.9);
$black: #1e0000;
$white: #fff5ec;
$gray: #898989;
$max-width: 1100px;

body {
    text-rendering: optimizeLegibility;
    @media(max-width: 800px) {
        font-size: 0.7em;
    }
    margin: 0;

    font-family: $sans;

    background: black;
    color: white;
    overflow-x: hidden;
}

.primary-bg {
    background: $primary;
}

img {
    object-fit: contain;
}

.wide {
    position: relative;
    width: 100vw;
    left: calc((#{$max-width} - 100vw)/2);
    
    @media(max-width: 1300px) {
        left: -5vw;
    }

    > div {
        max-width: $max-width;
        margin: auto;
    }
}

.padding {
    padding: 2em 5vw;

    h1 {
        margin-top: 0;
    }
}

.margin {
    margin-top: 2em;
    margin-bottom: 2em;
}


h1, h2, h3, h4, h5, h6 {
    font-family: $sans;

    font-weight: 300;
    letter-spacing: 0.3px;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.3em;
}

h4 {
    color: $gray;
}

a, a:visited {
    color: white;
}

p {
    max-width: 80ch;
}

header {
    display: flex;
    justify-content: space-between;

    color: white;
    padding: 1em 5vw;
    height: 6em;
    max-width: calc(#{$max-width} + 10vw);
    box-sizing: border-box;
    margin: auto;

    @media(max-width: 800px) {
        flex-direction: column;
        align-items: flex-end;
        height: 9em;
    }

    #logo {
        display: flex;
        flex-direction: column;
        text-align: right;

        font-weight: 200;
        font-family: $sans;

        a {
            text-decoration: unset;
        }

        span {
            color: white;
            text-decoration: unset;
            display: block;
        }

        span:first-of-type {
            font-size: 2em;
            margin-bottom: 0.2em;
        }

        span:last-of-type {
            font-size: 1em;
        }
    }

    nav ul {
        list-style: none;
        margin: 0;
        margin-top: 1em;
        display: flex;

        li {
            margin-left: 1em;
        }

        a {
            color: white;
            text-decoration: unset;
            font-size: 1.1em;
            text-transform: capitalize;
            font-family: $sans;
            font-weight: 300;
        }
    }
}

#index {
    position: relative;
    top: -6em;
    left: calc((#{$max-width} - 100vw)/2);
    
    @media(max-width: 1300px) {
        left: -5vw;
    }

    height: 80vh;
    width: 100vw;
    min-height: 500px;

    padding: 0 5vw;

    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 8em, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 1) 100%), url("/uploads/2018/09/05/IMG_1448.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: white;
    box-sizing: border-box;

    z-index: -1;
    text-align: center;

    hr {
        border: 0;
        height: 3px;
        background: #fff;
        max-width: 750px;

        width: 80vw;
    }
}

.concerts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    h3 {
        color: $black;
    }

    > div {
        width: 300px;
        position: relative;
        margin-bottom: 2em;

        img {
            max-width: 100%;
            min-width: 100%;
            height: 300px;
            object-fit: cover;
        }

        > div {
            position: absolute;
            bottom: 2px;
            background: $primary-transparent;
            width: 100%;
            box-sizing: border-box;
            padding: 0 3em;
            min-height: 152px;
        }
    }

    @media(max-width: 666px) {
        > div {
            width: 90vw;
        }
    }
}

.articles {
    > div {
        display: flex;
        justify-content: flex-start;

        img {
            height: 270px;
            width: 270px;
            object-fit: cover;
        }
        > div {
            padding: 2em;
        }
        background: $white;
        color: $black;
        margin: 2em 0;
        height: 270px;

        a, a:visited {
            color: $black;
        }

        @media(max-width: 1300px) {
            flex-direction: column !important;
            height: initial;

            img {
                width: 90vw;
                height: 90vw;
                max-height: 500px;
            }
        }
    }

    > div:nth-child(2n + 1) {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}

main {
    padding: 0 5vw;
    max-width: $max-width;
    margin: auto;
}

footer {
    display: flex;
    background: rgba(255, 255, 255, 0.08);
    max-width: $max-width;
    margin: auto;
    margin-top: 2em;
    min-height: 18em;

    @media (max-width: 500px) {
        flex-direction: column;
    }

    > div {
        padding: 1em;
    }
}

div#mc_embed_signup {
    background: transparent;
    font: inherit;
    color: white;

    label {
        width: 8em;
        display: inline-block;
        margin: 0.5em 0;
    }

    #mc-embedded-subscribe {
        margin: 2em 0 1em;
        display: block;
        background: $primary;
        padding: 1em 3em;
        border: none;
        color: white;
        text-transform: uppercase;
        letter-spacing: 0.3px;
    }
}

.content {
    min-height: calc(100vh - 6em - 20em);
}

.concert {
    .row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        img.map {
            width: 400px;
            max-width: 90vw;

        }
        
        > img {
            width: 542px;
            max-width: 90vw;
        }
    }
}

.ruler-title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    hr {
        flex: 1 1 auto;
        border: 1px solid white;
        height: 0px;
        margin: 0 20px;
    }

    a {
        text-decoration: unset;
    }

    @media (max-width: 1300px) {
        hr {
            display: none;
        }
    }
}